@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
/*--------------------------------
         banner style start        
---------------------------------- */
.banner-section {
  margin-bottom: 150px;
}
.container {
  width: 80%;
  margin: auto;
}
.banner {
  display: flex;
  justify-content: center;
  height: 750px;
  width: 100%;
  padding-top: 50px;
  margin-top: 80px;
  border-radius: 35px;
  background-color: rgb(24, 24, 24);
}
.artical {
  width: 40%;
  padding-left: 100px;
}
.artical-title {
  color: #fff;
  font-size: 80px;
  line-height: 90px;
  font-weight: 700;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 20px;
}
.artical-story {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 50px;
}
/*--------------------------------
         button style        
---------------------------------- */
.watch-live-button, .view-more-button {
  border: 0;
  width: 200px;
  height: 70px;
  background-color: red;
  border-radius: 5px;
}
.watch-live-button a, .view-more-button a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 25px;
}
.view-more{
    margin-top: 30px;
    display:flex;
    justify-content: center;

}
.view-more-button{
    display: none;
}
/*--------------------------------
         Button hover        
---------------------------------- */
.watch-live-button:hover,
.nav-button:hover {
  box-shadow: 0px 0px 50px rgba(255, 0, 0, 0.458);
}
.banner-showcase {
  width: 60%;
  display: flex;
  justify-content: center;
}
/*--------------------------------
         banner style end        
---------------------------------- */

/*--------------------------------
         blogs style start        
---------------------------------- */
.blogs-container {
  display: flex;
  width: 80%;
  margin: auto;
}
.nav-manu-container {
  height: 350px;
  width: 330px;
  background-color: rgb(24, 24, 24);
  border-radius: 10px;
}
.flofing-nav-manu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.nav-button {
  border: 0;
  width: 250px;
  height: 70px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  margin-top: 23px;
  margin-bottom: 23px;
  font-size: 20px;
  font-weight: 700;
}
.flofing-nav-manu a {
  text-decoration: none;
}
#recent {
  background-color: red;
  color: #fff;
}
.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-gap: 40px;
  width: 80%;
}
.blog {
  width: 310px;
  min-height: 300px;
  border: 1px solid rgba(120, 120, 120, 0.374);
  border-radius: 10px;
  padding: 0;
}
.thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.upcoming-match-thumbnail {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}
.blog-info a {
  text-decoration: none;
  margin: 10px;
  padding: 5px 15px;
  display: inline-block;
  border: 2px solid rgba(120, 120, 120, 0.374);
  border-radius: 5px;
}
.blog-info .blog-title {
  margin: 10px;
}
.upcoming-match-title {
  font-size: 20px;
  text-align: center;
}
.upcoming-match-time {
  width: 100%;
  font-size: 15px;
  text-align: center;
}

.tome-and-comment {
  width: 50%;
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.time {
  display: flex;
  justify-content: center;
  align-items: center;
}
.comment {
  display: flex;
  align-items: center;
  width: 50%;
}
.tome-and-comment i,
p {
  margin-right: 5px;
}

/*--------------------------------
         blogs style end       
---------------------------------- */
.footer {
  height: 400px;
  background-color: rgb(24, 24, 24);
  text-align: center;
}
.footer-title {
  height: 50%;
  width: 80%;
  margin: auto;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-bottom: 1px solid rgba(120, 120, 120, 0.374);
}
.footer-link {
  display: flex;
  height: 30%;
  justify-content: center;
  align-items: center;
}
.link-item {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}
.footer-section {
  margin-top: 100px;
}
.social-link a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
.social-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;
  margin: auto;
}
/*--------------------------------
         footer style end       
---------------------------------- */
/*--------------------------------
         media uary for mobie screen
---------------------------------- */
@media (max-width: 599px) {
  .container {
    width: 90%;
    margin: auto;
  }
  .banner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    width: 100%;
  }
  .artical {
    width: 90%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .artical-title {
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    padding-top: 0;
    line-height: 30px;
    text-align: center;
  }
  .artical-story {
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    height: 10px;
    width: 80%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .watch-live-button {
    width: 150px;
    height: 50px;
  }
  .watch-live-button a {
    font-weight: 500;
    font-size: 20px;
  }
  .banner-showcase {
    margin-top: 20px;
  }
  .banner-section {
    margin-bottom: 20px;
  }
  .blogs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nav-manu-container {
    height: 350px;
    width: 330px;
    background-color: rgb(255, 255, 255);
  }
  .nav-button {
    background-color: whitesmokergb(255, 255, 255);
    border-radius: 10px;
    margin-top: 23px;
    font-size: 25px;
    font-weight: 500;
    border: 2px solid rgba(120, 120, 120, 0.374);
  }
  .blogs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .footer {
    min-height: 400px;
    background-color: rgb(24, 24, 24);
    text-align: center;
  }
  .footer-title {
    height: 30%;
    width: 95%;
    margin: auto;
    font-size: 25px;
    margin-bottom: 20px;
  }
  .footer-link {
    display: flex;
    height: 50%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .social-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    margin: auto;
  }
  .social-link{
    margin-top: 20px;
    
  }
  .footer-link {
    display: flex;
    flex-wrap: wrap;
  }
}
/*--------------------------------
         media uary for tablet screen
---------------------------------- */
@media (min-width: 600px) and (max-width: 899px) {
  .container {
    width: 90%;
  }
  .banner {
    display: flex;
    justify-content: space-between;
    height: 500px;
    padding-top: 30px;
    margin-top: 50px;
  }
  .banner-showcase {
    width: 50%;
  }
  .banner-showcase img {
    width: 100%;
  }
  .artical {
    width: 50%;
    padding-left: 20px;
  }
  .artical-title {
    font-size: 50px;
    line-height: 50px;
    font-weight: 500;
    padding-top: 50px;
    padding-bottom: 10px;
  }
  .artical-story {
    width: 200px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .blogs-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nav-manu-container {
    margin-right: 0;
    height: 100px;
    width: 90%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 50px;
  }
  .flofing-nav-manu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    grid-column-gap: 20px;
  }
  .nav-button {
    width: 100%;
    margin-bottom: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    font-size: 25px;
    font-weight: 500;
    border: 2px solid rgba(120, 120, 120, 0.374);
  }
  .banner-section {
    margin-bottom: 50px;
  }
  .blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .blog {
    width: 290px;
    min-height: 300px;
    border: 1px solid rgba(120, 120, 120, 0.374);
    border-radius: 10px;
    padding: 0;
  }
  .thumbnail img {
    width: 290px;
  }
  .social-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    margin: auto;
  }
  .footer-link {
    display: flex;
    flex-wrap: wrap;
  }
  .last-blog{
    display: none;
  }
  .view-more-button{
    display: block;
  }
}
/*--------------------------------
    media uary for desktop screen
---------------------------------- */
@media (min-width: 900px) and (max-width: 1199px) {
  .container {
    width: 90%;
  }
  .banner {
    display: flex;
    justify-content: space-between;
    height: 500px;
    padding-top: 30px;
    margin-top: 50px;
  }
  .banner-showcase {
    width: 50%;
  }
  .banner-showcase img {
    width: 100%;
  }
  .artical {
    width: 50%;
    padding-left: 20px;
  }
  .artical-title {
    font-size: 50px;
    line-height: 50px;
    font-weight: 500;
    padding-top: 50px;
    padding-bottom: 10px;
  }
  .artical-story {
    width: 200px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .blogs-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }
  .blog {
    width: 240px;
  }
  .nav-button {
    width: 120px;
    height: 60px;
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .nav-manu-container {
    margin-right: 0;
    height: 70%;
    width: 200px;
  }
  .blogs {
    grid-gap: 10px;
  }
  .thumbnail img {
    width: 240px;
  }
}
/*--------------------------------
    media uary for big screen desktop screen
---------------------------------- */
@media (min-width: 1200px) and (max-width: 1800px) {
  .blogs-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }
  .artical {
    width: 50%;
    padding-left: 50px;
  }
  .artical-title {
    color: #fff;
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    margin: 0;
  }
  .artical-story {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
  }
  .banner-showcase {
    width: 50%;
  }
  .banner-showcase img {
    width: 100%;
  }
  .nav-button {
    border: 0;
    width: 200px;
  }
  .blog {
    width: 240px;
  }
  .blogs {
    grid-gap: 10px;
  }
  .thumbnail img {
    width: 240px;
  }
  .blog-info .blog-title {
    margin: 10px;
  }
}
